 <div class="card" id="crd"  >
            <div class="card-body">
              <div class="container" >
                <table class="table table-striped" >
                  <tr>
                    <th>Account Id</th>
                    <th>Name</th>
                    <th>Mobile No.</th>
                    <th>Date of Birth</th>
                    <th>Opening Balance</th>
                    <th>Current Balance</th>
                  </tr>
                  <tbody>

                    <td> {{ac.accId}} </td>
                    <td> {{ac.name}} </td>
                    <td> {{ac.mobileNo}} </td>
                    <td> {{ac.Dob}} </td>
                    <td> {{ac.openingBal}} </td>
                    <td> {{ac.currentBal}} </td>
                 
                </tbody>
                </table>
              </div>
            </div>
          </div>